.UserHeader-header {
    background-color: #f4e7ad;
    padding: 10px 20px;
    /* Adjusted padding */
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /* Ensure the header spans the full width */
}

.logo-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.logo {
    width: 60px;
    /* Adjusted logo size */
    height: auto;
    border-radius: 50%;
    /* Make the logo border circular */
    cursor: pointer;
    /* Change cursor to pointer on hover */
    transition: transform 0.3s ease;
    /* Smooth transition for transform effect */
}

.logo:hover {
    transform: translateY(-5px);
    /* Translate logo 5px up on hover */
}
.Welcome {
    text-align: right;
}

.Welcome h2 {
    margin: 0;
    font-size: 18px;
    color: #333;
}