.payments {
    text-align: center;
    padding: 20px;
}

.payments h2 {
    margin-bottom: 20px;
    font-size: 24px;
}

.filters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}
.payment-item-heading{
    font-weight: bold;
}
.filters input,
.filters select,
.filters button {
    margin: 10px;
}

.payment-item {
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.payment-item:hover {
    background-color: #f1f1f1;
}

.download-button {
    margin-top: 10px;
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.download-button:hover {
    background-color: #0056b3;
}

.search-button,
.pagination-button {
    padding: 5px 10px;
    font-size: 12px;
    margin: 0 5px;
    min-width: 60px;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.pagination-button {
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.pagination-button:hover {
    background-color: #0056b3;
}