main {
    min-height: 80vh;
}

body {
    background-color: #e6e6e6;
    background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
}

h1 {
    font-size: 1.8rem;
    padding: 1rem 0;
}

h2 {
    font-size: 1.4rem;
    padding: 0.5rem 0;
}

h3 {
    padding: 1rem 0;
}

.rating span {
    margin: 0.1rem;
}

@media (max-width: 900px) {
    .carousel-caption h2 {
        color: #fff;
        font-size: 12.5px !important;
    }

    .carousel-image {
        height: 150px !important;
        /* width: 250px; */
        padding: 20px;
        margin: 40px;
        border-radius: 50%;
    }
}

@media (max-width: 1200px) and (min-width: 900px) {
    .carousel-caption h2 {
        color: #fff;
        font-size: medium;
    }

    .carousel-image {
        height: 250px !important;
        /* width: 250px; */
        padding: 20px;
        margin: 20px;
        border-radius: 50%;
    }
}

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
    display: flex;
}

.carousel-caption {
    position: absolute;
    top: 0;
}

.carousel-caption h2 {
    color: #fff;
}

.carousel img {
    height: 300px;
    padding: 30px;
    margin: 40px;
    border-radius: 50%;
}

.carousel a {
    margin: 0 auto;
}
body,
html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

* {
    box-sizing: border-box;
}